/* CSS code */
canvas {
    background-color: black;
    display: block;
    margin: 0 auto;
  }
  #player {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 10px;
    height: 60px;
  }
  #computer {
    background-color: white;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 10px;
    height: 60px;
  }
  #ball {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }